*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

header{
    align-items: center;
    text-align: center;
    background-color: rgb(37, 33, 33);
    width: 430px;
    height: 610px;
    border-radius: 10px;
    margin: 50px 0 50px 450px;
    justify-content: center;   
}

img{
    border-radius: 50%;
    width: 80px;
    padding: 50px 0;
}

.heads h1{
    color: whitesmoke;
    padding-bottom: 10px;
    font-size: 25px;
}

.heads h3{
    color: rgb(88, 144, 4);
    padding-bottom: 28px;
    font-size: 13px;
}

.heads h4{
    color: gray;
    font-size: 14px;
    padding-bottom: 20px;
}

.links{
    display: grid;
    gap: 20px;
    align-items: center;
    text-align: center;
    justify-content: space-around;

}

.links a{
    width: 290px;
    border-radius: 8px;
    height: 40px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(57, 57, 57);
    color: whitesmoke;
    padding: 10px 0;
    font-size: 14px;
}

@media screen and (max-width: 600px){
    header{
        width: 250px;
        margin: 40px 0 20px 50px;
        height: 550px;
    }

    img{
        width: 70px;
    }
    
    .heads h1{
        font-size: 20px;
    }

    .heads h3{
        font-size: 11px;
    }

    .heads h4{
        font-size: 12px;
    }

    .links{
        gap: 15px;
    }

    .links a{
        width: 200px;
        height: 30px;
        padding: 6px;
        font-size: 12px;
    }
}

